<nav>
  <div class="head" [ngClass]="getHeadClass()">
  <div class="head-content">
    <div class="head-content-left">
      <div class="data-container">

        <div class="station-icon">
          <img src="assets/gas-station-svgrepo-com/gas-station-svgrepo-com.png" class="station" alt="">
          <div class="circle-indicator pulse"></div>
        </div>
        <div class="monitor-ratio">
          <p>
            2/3
          </p>
        </div>
        <div class="monitor">
          <p>Monitored <br> Stations</p>
        </div>
      </div>
    </div>

        <div class="head-content-middle">

           <div class="head-menu">
        <div class="head-menu-item">

          <div class="circle">
            <div class="circle-indicator pulse"></div>
          </div>

          <div class="arrow">
            <img src="/assets/circular-arrow-with-dots.svg" alt="">
          </div>

          <div class="time">
            <p>20s</p>
          </div>

          <div class="update">
            <p>Last <br> Update</p>
          </div>
        </div>
      </div>
    </div>


    <div class="head-content-right">
      <div class="radio-inputs">
           <label class="map-radio">
             <input type="radio" name="radio-nav" checked="">
             <span class="name">Today</span>

           </label>

           <label class="radio">
            <input type="radio" name="radio-nav">
            <span class="name">Yesterday</span>

           </label>
           <label class="radio">
            <input type="radio" name="radio-nav">
            <span class="name">Last Week</span>

           </label>
         </div>

        </div>

        <div class="date-picker">
          <div class="row example-wrapper">
      <div class="col-xs-12 col-md-6 example-col">
        <kendo-datepicker
          calendarType="classic"
           placeholder="Start date - time" [(ngModel)]="value"
          class="kendo-datepicker"
        ></kendo-datepicker>
      </div>
    </div>
        </div>
  </div>
 </div>
</nav>

<router-outlet></router-outlet>
