nav {
  .head {
    z-index: 3;
    transition: all 0.5s ease;
    background: #f9f5f3;
    position: fixed;
    top: 0;

    .head-content {
      margin-left: -220px;
      background: #fff;
      color: #3d5161;
      box-shadow: 0 0 10px 0 rgb(34 41 47 / 10%);
      padding: 0.813rem 1.563rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 110%;

      .head-content-left {
        .data-container {
          position: relative;
          display: inline-flex;
          align-items: center;
          width: 50%;
          justify-content: center;

          .circle-indicator {
            width: 8px;
            height: 8px;
            border-radius: 70%;
            display: flex;
            position: absolute;
            background: #ff7f5c;

            &.pulse {
              animation: pulse-animation 1.2s infinite;
            }
          }

          .station-icon {
            width: 30px;
            height: 25px;
            display: flex;
          }

          .monitor-ratio {
            font-size: 25px;
            font-weight: 600;
            margin: 0 10px;
          }

          .monitor {
            font-size: 10px;
            font-weight: 500;
            display: flex;
          }
        }
      }

      .head-content-middle {
        display: flex;
        align-items: center;
        justify-content: space-center;

        .head-menu {
          display: flex;
          align-items: center;
          flex-direction: column;
          margin-left: -200px;

          .head-menu-item {
            display: flex;
            justify-content: center;
            gap: 6px;

            .circle {
              margin-right: 8px;
            }

            .circle-indicator {
              width: 8px;
              height: 8px;
              top: 28px;
              border-radius: 70%;
              display: flex;
              position: absolute;
              background: #ff7f5c;
              margin-right: 2.5rem;
            }

            .arrow {
              width: 24px;
              height: 24px;
              display: flex;
              font-weight: 600;
            }

            .time {
              font-size: 25px;
              font-weight: 500;
            }

            .update {
              font-size: 10px;
            }

            .head-menu-item-btn:hover,
            .head-menu-item-btn:focus {
              background: #eff2f3;

              .menu-icon {
                color: #ff7f5c;
              }
            }
          }
        }
      }

      .head-content-right {
        display: flex;
        align-items: center;
        width: 20%;
        justify-content: space-between;
        margin-left: -130px;

        .radio-inputs {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          border-radius: 1.5rem;
          background-color: #f9f5f3;
          box-sizing: border-box;
          box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
          padding: 0.25rem;
          width: 300px;
          font-size: 14px;
        }

        .radio-inputs .map-radio {
          flex: 1 1 auto;
          text-align: center;
        }

        .radio-inputs .map-radio input {
          display: none;
        }

        .radio-inputs .map-radio .name {
          display: flex;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          border-radius: 1.5rem;
          border: none;
          padding: 0.5rem 0;
          color: rgba(51, 65, 85, 1);
          transition: all 0.15s ease-in-out;
        }

        .radio-inputs .map-radio input:checked + .name {
          background-color: #ff7f5c;
          font-weight: 600;
          color: #fff;
        }

        .radio-inputs .radio {
          flex: 1 1 auto;
          text-align: center;
        }

        .radio-inputs .radio input {
          display: none;
        }

        .radio-inputs .radio .name {
          display: flex;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          border-radius: 1.5rem;
          border: none;
          padding: 0.5rem 0;
          color: rgba(51, 65, 85, 1);
          transition: all 0.15s ease-in-out;
        }

        .radio-inputs .radio input:checked + .name {
          background-color: #ff7f5c;
          font-weight: 600;
          color: #fff;
        }
      }
    }

    .date-picker {
      display: flex;
      justify-content: end;
      margin-left: -70px;
      width: 190px;

      kendo-datepicker {
        color: #ff7f5c;
      }
    }

    .calendar {
      visibility: collapse;
    }
  }

  .head-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
  }

  .head-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
  }

  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 127, 92);
    }
    100% {
      box-shadow: 0 0 0 13px rgba(246, 206, 195);
    }
  }

  @keyframes fall {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
}

@media (max-width: 560px) {
  nav {
    .head {
      width: 100%;
      .head-content {
        margin-left: -210px;
        width: 100%;

        .head-content-left {
          visibility: collapse;
        }

        .head-content-middle {
          visibility: collapse;
          display: none;
        }

        .head-content-right {
          width: 80%;

          .radio-inputs {
            position: absolute;
            display: inline-flex;
            flex-wrap: nowrap;
            padding: 0.15rem;
            width: 72%;
            font-size: 11px;
            margin-left: 30px;
          }
        }

        .date-picker {
          visibility: collapse;
        }
      }
    }
  }
}

@media (min-width: 560px) and (max-width: 760px) {
  nav {
    .head {
      width: 120%;
      .head-content {
        margin-left: -245px;
        width: 100%;

        .head-content-left {
          visibility: collapse;
        }

        .head-content-middle {
          visibility: collapse;
          display: none;
        }

        .head-content-right {
          width: 90%;

          .radio-inputs {
            position: absolute;
            display: inline-flex;
            flex-wrap: nowrap;
            padding: 0.15rem;
            width: 72%;
            font-size: 11px;
            margin-left: 40px;
          }
        }

        .date-picker {
          visibility: collapse;
        }
      }
    }
  }
}

@media (min-width: 760px) and (max-width: 1060px) {
  nav {
    .head {
      width: 120%;
      .head-content {
        margin-left: -200px;
        width: 100%;

        .head-content-left {
          transform: translateX(100px);
        }

        .head-content-middle {
          visibility: collapse;
        }

        .head-content-right {
          width: 100%;
          transform: translateX(100px);
        }

        .radio-inputs {
          position: absolute;
          display: inline-flex;
          flex-wrap: nowrap;
          padding: 0.15rem;
          width: 72%;
          font-size: 12px;
          margin-left: 250px;
        }
      }

      .date-picker {
        visibility: collapse;
      }
    }
  }
}
